<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ovelny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ovelny - Learning Infosec, hacking things, CTFs and random notes">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='spectre.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='spectre-exp.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='spectre-icons.min.css') }}">
    <link href="/atom.xml" rel="alternate" title="Ovelny" type="application/atom+xml">
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="column col-5 col-xl-7 col-md-9 col-sm-11 centered text-justify main-block">
                <header class="navbar">
                    <a href="{{ url_for('home') }}" class="home-link">
                        <section class="navbar-section">
                            <img src="{{ url_for('static', filename='images/ovelny-logo.jpg') }}" alt="Ovelny logo" class="logo s-rounded">
                            <h2>Ovelny</h2>
                        </section>
                    </a>
                    <section class="navbar-section navbar-links">
                            <a href="https://curiouscat.me/Ovelny" target="_blank" rel="noopener noreferrer" class="btn btn-link">AMA</a>
                            <a href="https://twitter.com/Ovelny" target="_blank" rel="noopener noreferrer" class="btn btn-link">Twitter</a>
                            <a href="https://github.com/Ovelny" target="_blank" rel="noopener noreferrer" class="btn btn-link">Github</a>
                            <a href="/atom.xml" target="_blank" rel="noopener noreferrer" class="btn btn-link">RSS</a>
                    </section>
                </header>
                <main>
                {% block content %}
                <p>Default content</p>
                {% endblock content %}
                </main>
                <footer id="footer">
                    <div class="footer-section">© Ovelny</div>
                    <div class="footer-section">:::| De Omnibus Dubitandum |:::</div>
                </footer>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bottom-footer.min.js') }}"></script>
</body>
</html>