{% extends "base.html" %}
{% block content %}
    <div>
        <div>
            <div>Chronolog</div>
            <div>Personal stream of events. A quiet, introvert Twitter.</div>
        </div>
        <div>
            {% for log in logs %}
                <div>
                    <div>
                        <blockquote>
                            <p>{{log.log_date}}</p>
                            <p>{{log.log_content}}</p>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
