{% extends "base.html" %} {% block content %}
<p id="about">
  Hi! You've reached the blog of Thibault Vercoutère, also known as ovelny. I like computers, music,
  cats, dogs, minimalism and sharing everything I learn. I'm also an ex system application
  administrator, currently learning penetration testing. I come from an unconventional
  background, something I've learned to be proud of.
</p>
<h2>Posts</h2>
<ul>
  {% for page in pages %}
  <li>
    {{ page.date.strftime("%d %b %Y") }} -
    <a href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a>
  </li>
  {% else %}
  <li>No stuff.</li>
  {% endfor %}
</ul>
{% endblock content %}
