{% extends "base.html" %}

{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ea aliquam laboriosam! Omnis ab adipisci sequi vel veritatis deleniti eveniet unde ex molestiae iusto nihil, magni perferendis ad impedit delectus iste maiores nisi assumenda. Ad deleniti soluta voluptatibus, iusto voluptas vitae sed similique incidunt dolore sapiente autem tenetur doloribus enim mollitia nesciunt nemo molestias qui, officia recusandae inventore accusantium laudantium a minima.</p>
    <h2>Posts</h2>
    <ul>
    {% for page in pages %}
        <li>
            {{ page.date }} <a class="ml-2" href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a>
        </li>
    {% else %}
        <li>No stuff.</li>
    {% endfor %}
    </ul>
{% endblock content %}